.wp-block-separator.is-style-dots:before {
    color: inherit;
}

.wp-block-separator {
    border-bottom-color: currentColor;
    margin: 1.5em auto;

    &:not([class*="is-style"]) {
        max-width: 100px;
    }
}

.wp-block-audio[class] {
    margin-left: 0;
    margin-right: 0;

    audio {
        width: 100%;
    }
}

.wp-block-embed {
    margin: 0;
}

.wp-block-cover[class][class] {
    display: flex;
    margin-top: 1.125em;
    margin-bottom: 1.125em;

    p {
        position: relative;
        transform: none;
        margin-bottom: 0;
    }
}

p.wp-block-subhead {
    color: inherit;
}

.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse pre,
pre.wp-block-verse {
    color: inherit;
}

.editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit {
    margin-right: 0;
    margin-bottom: 0;
}

.wp-block-image .alignleft,
.editor-block-list__layout .editor-block-list__block[data-align=left] .editor-block-list__block-edit > * {

    @media only screen and (min-width: 899px) {
        margin-right: 3em;
        width: auto;
    }

    @media only screen and (min-width: 1359px) {
        margin-left: -3.75em;
    }
}

.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
    margin-left: 0;
    margin-bottom: 0;
}

.wp-block-image .alignright,
.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit > * {

    @media only screen and (min-width: 899px) {
        margin-left: 3em;
        width: auto;
    }

    @media only screen and (min-width: 1359px) {
        margin-right: -3.75em;
    }
}

.wp-block-image .aligncenter > figcaption {
    display: block;
}

figure.wp-block-pullquote {
    margin: 0;
    border: 0;
    padding: 0;
}

.wp-block-pullquote[class] p {
    font: inherit;
}

.wp-block-pullquote.alignleft {
    margin-left: -3.75em;
    margin-right: 3em;
}

.wp-block-pullquote.alignright {
    margin-right: -3.75em;
    margin-left: 3em;
}

.editor-block-list__block {
    &[data-align="center"] {
        .wp-block-image {
            img {
                margin-left: -3 * $gutter;
                margin-right: -3 * $gutter;
                width: auto;
                max-width: calc(#{6 * $gutter} + 100%);
            }
        }
    }

    &[data-align="right"] {
        .editor-block-list__block-edit {
            max-width: calc(50% + #{3 * $gutter} - 20px);
        }
        .wp-block-image {
            img {
                margin-right: -3 * $gutter;
            }
        }
    }

    &[data-align="left"] {
        .editor-block-list__block-edit {
            max-width: calc(50% + #{3 * $gutter} - 20px);
        }
        .wp-block-image {
            img {
                margin-left: -3 * $gutter;
            }
        }
    }
}

.wp-block-embed:not(.wp-block-embed-instagram) {
    .responsive-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0;
        height: 0;
        overflow: hidden;

        iframe,
        object,
        video,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
