/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: #FFFFFF;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: #000000;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

%hyphens {
	-ms-word-break: break-word;
	-ms-word-wrap: break-word;
	-webkit-word-break: break-word;
	-webkit-word-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
}



.entry-title {
	@extend %hyphens;
	overflow: hidden;

	a {
		font-weight: inherit;
	}
}

// @todo fucking investigate this
.post {
	// prevents images overlaping margin
	&:before { content: ""; display: block; float: left; }
}

.disable-hover {
	&, * {
		pointer-events: none !important;
	}
}

.site-content {
	min-height: calc(100vh - 60px);

	.infinite-scroll.neverending & {
		min-height: 100vh;
	}

	.infinite-scroll.neverending.no-posts & {
		min-height: calc(100vh - 60px);
	}

	.admin-bar & {
		min-height: calc(100vh - 60px - 32px);
	}

	.admin-bar.infinite-scroll.neverending & {
		min-height: calc(100vh - 32px);
	}

	.admin-bar.infinite-scroll.neverending.no-posts & {
		min-height: calc(100vh - 60px - 32px);
	}
}

.edit-link {
	display: none;
}

.entry-image {
	overflow: hidden;
}

.entry-image-shadow {
	margin-left: -1px;

	background: black;
	box-shadow: black 0 0 25px;
	// transform: translateZ(0);
	opacity: 0;
	transition: .3s linear opacity;
	transition-delay: .25s;

	.is-visible & {
		opacity: 1;
	}
}

// Hiding the WPStats smiley icon
// because it creates space under footer
#wpstats, #botd, #botd2 {
	bottom: 0;
	left: -9999px;
	position: fixed;
}

.no-scroll {
	overflow: hidden;
}


// Videopress style
.jetpack-video-wrapper, .entry-featured {

	.video-player,
	.videopress-poster,
	.videopress-placeholder {
		width: 100% !important;
		height: auto !important;
	}

	.videopress-poster {
		display: block;
	}

	.play-button{
		span {
			margin: 0 !important;

			transform: translateX(-50%) translateY(-50%);
		}

		img {
			width: auto !important;
			height: auto !important;
		}

		& + div {
			position: absolute !important;
			right: 0;
		}
	}
}

.wp-block-embed:not(.wp-block-embed-instagram) {
	.responsive-container {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 0;
		height: 0;
		overflow: hidden;

		iframe,
		object,
		video,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.wp-block-embed {
	margin-left: 0;
	margin-right: 0;
}

