
// GUTENBERG EDITOR-ONLY STYLES
// ----------------------------------

@import "settings";

@import "tools/functions";
@import "tools/mixins";
@import "tools/queries";
@import "tools/baseline";
@import "tools/aliases";

.edit-post-visual-editor {
    @import "trumps/bass";
    @import "base/type";
    @import "base/gutenberg";

    .editor-post-title__input {
        @extend %h1;
        font-size: 3.5rem;
    }

    &.editor-styles-wrapper {
        .wp-block-paragraph {
            @extend %alpha;
        }
    }

    .intro {
        font-size: rem(18px);
        font-weight: 500;
        line-height: 1.75;
        -webkit-font-smoothing: antialiased;

        @include query-below($lap) {
            font-size: 1.2em;
            color: #000000;
        }
    }

    .wp-block-preformatted pre,
    .wp-block-verse pre,
    pre.wp-block-verse {
        color: inherit;
    }

    .wp-block-quote:not(.is-large):not(.is-style-large) {
        border-left: 0;
        padding-left: 0;
    }

    blockquote p {
        font: inherit;
    }
}
