.pagination {

	position: relative;
	// margin: 2 * $u 0;
	padding-left: 0;
	border: none;
	font-size: 0;
	text-align: center;

	.infinite-scroll & {
		display: none;
	}

	@include query-below($lap) {
		margin-top: rem(30px);
	}

	@include query-above($lap) {
		padding-left: rem(160px);
		padding-right: rem(160px);
	}

	&:after {
		content: none;
	}

	li {
		margin-bottom: rem(15px);
	}

	a, span {
		position: relative;
		z-index: 2;

		display: inline-block;
		zoom: 1;
		min-width: 30px;
		height: 30px;
		margin: 0 5px;

		border: 1px solid $lightest;
		border-radius: 50%;

		font-size: 14px;
		line-height: 30px;

		color: $light;

		transition: all .15s linear;
		opacity: .5;
	}

	a:after {
		content: none;
	}

	a:hover {
		color: $dark;
		border-color: $gray;

		opacity: 1;
	}

	span.current {
		color: $dark;
		border: 1px solid $gray;
		border-radius: 50%;

		opacity: 1;
	}

	.neverending & {
		display: none;
	}

	.infinite-scroll & {
		display: none;
	}

	@include query-below($lap) {
		li:first-child, li:last-child {
			margin: rem(25px) 0;
			display: block;
		}
	}
}

.page-numbers.prev,
.page-numbers.next {
	position: absolute;
	top: 0;

	margin: 0;
	width: auto;
	height: auto;

	border: 0;
	color: $dark;

	border-radius: 0;

	text-transform: uppercase;

	@include query-below($lap) {
		position: static;
		padding-right: rem(15px);
		padding-left: rem(15px);
	}

	&.disabled {
		pointer-events: none;
		opacity: .3;
	}

	i {
		margin: 0 $u/2;
	}

	&:before,
	&:after {
		position: relative;
		top: 2px;
	}
}

.page-numbers.prev {
	left: 0;

	&:before{
		content: url('assets/svg/arrow-left.svg');
		margin-right: rem(20px);
	}
}

.page-numbers.next {
	right: 0;

	&:after {
		content: url('assets/svg/arrow-right.svg');
		margin-left: rem(20px);
	}
}

.pagination--single {
	display: inline-block;
	vertical-align: middle;
}

.post-pagination__title {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.posts-navigation,
#infinite-handle {
	@extend %beta;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#infinite-handle,
.infinite-loader {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	display: inline-block;
	width: auto;

	@include query-above($lap) {
		position: absolute;
		top: 100%;
	}
}

.infinite-loader .spinner {
	left: 0 !important;
}

div#infinite-handle {

 	span {
		background: transparent;
 		border-radius: 0;
 		color: $dark;
 		cursor: pointer;
 		font-size: 20px;

		padding-left: 5px;
		padding-right: 5px;

		&:after {
			content: "";

			position: absolute;
			left: 0;
			bottom: 2px;
			z-index: -1;

			width: 100%;
			height: 7px;

			background-color: $accent;
			transition: all .1s linear;
		}
 	}
 
 	&:hover span:after { height: 100%; }
 
 
 	button {
 		position: relative;
 		z-index: 5;
 		text-transform: uppercase;
 	}
 }

.infinite-scroll .grid {
	margin-bottom: 60px;
}