%share-title {
    @extend %beta;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 13px;
    margin: 0 0 15px;

    &, em {
        font-weight: 500;
    }
}

body div.sharedaddy {

    h3.sd-title {
        @extend %share-title;
        display: none !important;

        &:before {
            display: none;
        }
    }

    a.sd-link-color {
        background: none !important;
        box-shadow: none !important;
    }
}

body .sd-content ul li {
    display: inline-block;
}

body {

    // the share buttons
    .sd-social-icon-text {

        #sharing_email .sharing_send,
        .sd-content ul li .option a.share-ustom,
        .sd-content ul li a.sd-button,
        .sd-content ul li.advanced a.share-more,
        .sd-content ul li.preview-item div.option.option-smart-off a,
        .sd-social-icon .sd-content ul li a.sd-button,
        .sd-social-icon-text .sd-content ul li a.sd-button,
        .sd-social-official .sd-content > ul > li .digg_button > a,
        .sd-social-official .sd-content > ul > li > a.sd-button,

        // and the like button
        .wpl-button a {
            position: relative;

            display: block;
            margin-right: 15px;
            padding: 2px 19px 3px 40px;
            border: 0 !important;
            border-radius: 0;

            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
            box-shadow: none;
            background: none;
            color: inherit !important;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: 1px solid currentColor;
                opacity: 0.5;
                pointer-events: none;
            }

            &:hover {
                background: none;
            }
        }

        // colors
        .share-facebook > a:before {
            color: #3461a1;
        }
        .share-twitter > a:before {
            color: #28aae1;
        }
        .share-pinterest > a:before {
            color: #cd2026;
        }

        .sd-content ul li a.sd-button:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 30px;
            text-align: center;
            padding-top: 5px;
        }

        .sd-content ul li a.sd-button span:before {
            content: "";
            position: absolute;
            top: 1px;
            left: 30px;
            bottom: 1px;
            width: 1px;
            background-color: currentcolor;
            opacity: 0.5;
        }
    }

    .entry-content .sd-content a {
        box-shadow: none;
    }
}

.sharing-hidden .inner[class] {
    border-color: currentColor;
}

body {
    div#jp-relatedposts,
    div.sharedaddy {
        padding: 0;
        margin: 20px 0;
    }
}

body div#jp-relatedposts {

    h3.jp-relatedposts-headline {
        @extend %beta;
        @extend %share-title;

        em:before {
            display: none;
        }
    }

    div.jp-relatedposts-items {

        .jp-relatedposts-post {
            margin-bottom: 0;
            opacity: 1 !important;
            transition: none !important;
        }

        .jp-relatedposts-post-img {
            margin-bottom: 10px;
        }

        .jp-relatedposts-post-title {
            font-size: 15px;
            font-weight: normal;
            letter-spacing: normal;
            margin-bottom: 10px;

            a {
                text-decoration: none !important;
            }
        }

        .jp-relatedposts-post-date,
        .jp-relatedposts-post-context {
            display: inline-block;
            font-size: 11px;
            line-height: 22px;
            color: $gray;
            text-transform: uppercase;
        }

        .jp-relatedposts-post-context {
            font-weight: normal;
        }

        .jp-relatedposts-post-date {
            display: none !important;
        }
    }

    .jp-relatedposts-post-a {
        display: block;
        background: none;
        padding: 0;
    }
}

div#jp-post-flair {
    padding: 0;
}