.intro {
    font-size: rem(18px);
    font-weight: 500;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;

    @include query-below($lap) {
        font-size: 1.2em;
        color: #000000;
    }
}

@if $editor-style == false {
    @include query-above(1000px) {
        .twocolumn {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 40px;
            -moz-column-gap: 40px;
            column-gap: 40px;
        }
    }
}

@if $editor-style {
    @include query-above(870px) {
        .twocolumn {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 40px;
            -moz-column-gap: 40px;
            column-gap: 40px;
        }
    }
}

.dropcap {
    @extend %beta;

    float: left;
    @include rhythm(margin-bottom, 0.2, 74px);
    @include rhythm(margin-right, 1, 74px);

    @include font-size(74px);
    font-weight: 200;
    line-height: 1;

    color: $dark;
    text-shadow: 2px 2px 0px white, 4px 4px 0px $accent;
    text-shadow: 2px 2px 0px var(--box-shadow-color), 4px 4px 0px $accent;
}

// span.dropcap{ font-weight: bold; }

.highlight{
    background: $accent;
    padding: 3px 6px;
}

// Pull Content Outside

@if $editor-style == false {
    @include query-above($desk) {
        $pull-offset : 2 * $col;
        $pull-gutter : 40px;

        .pull-left {
            margin-left: -$pull-offset;
            margin-bottom: rhythm(1);
            width: calc(#{$pull-offset + $pull-gutter/2} + 50%);
            padding-right: $pull-gutter;

            padding-left: 1.5*$gutter;
            float: left;

            text-align: right;

            & + .pull-right {
                margin-right: -$pull-offset;
                width: calc(#{$pull-offset - $pull-gutter/2} + 50%);
                padding-left: 0;
            }
        }

        .pull-right {
            margin-right: -$pull-offset;
            margin-bottom: rhythm(1);
            width: calc(#{$pull-offset + $pull-gutter/2} + 50%);
            padding-left: $pull-gutter;

            padding-right: 1.5*$gutter;
            float: right;

            text-align: left;
        }
    }
}

@if $editor-style {
    @include query-above(870px) {
        $pull-offset : 100px;
        $pull-gutter : 40px;

        .pull-left {
            margin-left: -$pull-offset;
            margin-bottom: rhythm(1);
            width: calc(#{$pull-offset + $pull-gutter/2} + 50%);
            padding-right: $pull-gutter;

            padding-left: 1.5*$gutter;
            float: left;

            text-align: right;

            & + .pull-right {
                margin-right: -$pull-offset;
                width: calc(#{$pull-offset - $pull-gutter/2} + 50%);
                padding-left: 0;
            }
        }

        .pull-right {
            margin-right: -$pull-offset;
            margin-bottom: rhythm(1);
            width: calc(#{$pull-offset + $pull-gutter/2} + 50%);
            padding-left: $pull-gutter;

            padding-right: 1.5*$gutter;
            float: right;

            text-align: left;
        }
    }
}